<h2 class="uneaten-title">Don't forget to eat these!!!</h2>

<ul class="uneaten-burgers">
  {{!-- #each is a handlebars method that allows us to iterate over an array the same way we would do it with a standard for loop in javascript --}}
  {{#each burgers}}
  {{!-- if sleepy is false --}}
  {{#unless devoured}}
  {{!-- '>' notation indicates that we are rendering a partial (a component of the UI) --}}
  {{!-- line below imports the following relative path -> /partials/burgers/cat-block --}}
  <li>
    {{burger_name}}

    <button class="devour" data-id="{{id}}">Devour!</button>
  </li>

  {{/unless}}
  {{/each}}
</ul>

<h2 class="eaten-title">Eaten Burgers!!</h2>

<ul class="devoured-burgers">
  {{#each burgers}}
  {{!-- if sleepy is true --}}
  {{#if devoured}}
  <li>
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>

<h2 class="add-burger-title">Add a Burger:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>